.ui.main.text.container {
  margin-top:50px;
}

.header.item {
  border: none !important;
}

.App-logo {
  animation: App-logo-spin infinite alternate 10s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
